<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

<img src="https://picssmine.com/wp-content/uploads/2021/03/This-Isnt-Madness-This-Is-Ruby-Ruby-Meme.jpg">
